* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-basket {
  height: 20%;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0;
  position: relative;
}

.header-basket__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10%;
}

.header-basket__title p {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

@media (max-width: 768px) {
  .header-basket {
    padding: 30px 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .header-basket__back p {
    margin-left: 20px;
  }
  .header-basket__back {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-basket__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .header-basket__title.active {
    margin-top: 0;
  }
}

@media (max-width: 544px) {
  .header-basket__title {
    padding-top: 30px;
  }
}

.back-basket__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-basket__wrapper img {
  cursor: pointer;
}

.back-basket__wrapper p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  margin-left: 30px;
  cursor: pointer;
}

.wrapper-basket {
  position: absolute;
  top: 30px;
  left: 10px;
}

.item-basket {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-basket__img {
  position: absolute;
  top: 10px;
  right: 10px;
}

.item-basket__info {
  width: 90%;
  background: #000000;
}

.item-basket__cross {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-basket__cross img {
  cursor: pointer;
}

@media (max-width: 768px) {
  .item-basket__cross {
    display: none;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin-bottom: 15px;
  position: relative;
}

.card__img {
  width: 20%;
}

.card__cross {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__options {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__options p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 991px) {
  .card__options {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card__options {
    margin-top: 15px;
    width: 100%;
  }
  .card__cross {
    display: block;
  }
}

.body-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.body-card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-card__title p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  white-space: nowrap;
  margin-bottom: 6px;
}

.body-card__desc {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-card__desc p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1100px) {
  .body-card__desc {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .body-card__title {
    margin: 10px 0;
  }
}

.sum-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 120px;
}

.sum-card__cost {
  min-width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .sum-card {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px;
  }
}

.count-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}

.count-card__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.count-card__plus-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 17px;
}

.count-card__plus, .count-card__minus {
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c8a2c8;
  border: 2px solid #c8a2c8;
  border-radius: 50%;
  cursor: pointer;
  z-index: 20;
}

.count-card__minus {
  margin-top: 19px;
  display: none;
}

.val {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  margin-left: 40px;
  white-space: nowrap;
  z-index: 10;
}

.count-basket {
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.count-basket__order {
  width: 230px;
  min-height: 46px;
  border: 1px solid #c8a2c8;
  -webkit-filter: drop-shadow(0px 1px 15px rgba(204, 255, 0, 0.63));
          filter: drop-shadow(0px 1px 15px rgba(204, 255, 0, 0.63));
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.count-basket__order p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}

.count-basket__back {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .count-basket {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .count-basket__order {
    margin: 20px 0;
  }
}

.basket-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket-price__sum p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.basket-price__value p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  margin-left: 40px;
}

.right-basket__title p {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  margin-top: 46px;
  position: relative;
}

.right-basket__title p:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #c8a2c8;
  -webkit-box-shadow: 1px 1px 15px rgba(204, 255, 0, 0.63);
          box-shadow: 1px 1px 15px rgba(204, 255, 0, 0.63);
  position: absolute;
  bottom: 0;
  left: 0;
}

.right-basket__order {
  margin-top: 40px;
}

.right-basket__info {
  display: block;
  width: 70%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 30px 0;
}

@media (max-width: 1200px) {
  .right-basket__info {
    width: 90%;
  }
}

.your-info p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 60px;
}

.your-info input {
  background: #000000;
  border: 0;
  outline: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  margin-top: 30px;
  font-size: 20px;
}
/*# sourceMappingURL=ui.css.map */