* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//basket__header
.header-basket {
    height: 20%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    position: relative;

    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10%;
    }
    &__title p {
        font-style: normal;
        font-weight: normal;
        font-size: 60px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #ffffff;
    }
    @media (max-width: 768px) {
        & {
            padding: 30px 0;
            align-self: flex-start;
        }
        &__back p {
            margin-left: 20px;
        }
        &__back {
            width: 100%;
            display: flex;
            align-items: center;
        }
        &__title {
            justify-content: center;
            margin-top: 30px;
        }
        &__title.active {
            margin-top: 0;
        }
    }
    @media (max-width: 544px) {
        &__title {
            padding-top: 30px;
        }
    }
}
.back-basket__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
        cursor: pointer;
    }
    & p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #ffffff;
        margin-left: 30px;
        cursor: pointer;
    }
}
.wrapper-basket {
    position: absolute;
    top: 30px;
    left: 10px;
}
//========================================================================================
//basket__body

.body-basket {
    &__item {
    }
}
.item-basket {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    &__info {
        width: 90%;
        background: #000000;
    }

    &__cross {
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__cross img {
        cursor: pointer;
    }
    @media (max-width: 768px) {
        &__cross {
            display: none;
        }
    }
}
.card {
    display: flex;
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
    &__img {
        width: 20%;
    }
    &__cross {
        display: none;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    &__body {
    }
    &__options {
        width: 35%;
        display: flex;
        align-items: center;
    }
    &__options p {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
    }

    &__sum {
    }
    @media (max-width: 991px) {
        &__options {
            width: 30%;
        }
    }
    @media (max-width: 768px) {
        & {
            flex-direction: column;
        }
        &__img {
            width: 100%;
            display: flex;
            align-items: center;
        }
        &__options {
            margin-top: 15px;
            width: 100%;
        }
        &__cross {
            display: block;
        }
    }
}
.body-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    &__title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__title p {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #ffffff;
        white-space: nowrap;
        margin-bottom: 6px;
    }

    &__desc {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__desc p {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: rgba(255, 255, 255, 0.7);
    }
    @media (max-width: 1100px) {
        &__desc {
            width: 80%;
        }
    }
    @media (max-width: 768px) {
        &__title {
            margin: 10px 0;
        }
    }
}
.sum-card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    &__count {
    }

    &__cost {
        min-width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media (max-width: 768px) {
        & {
            justify-content: space-between;
            margin-top: 20px;
        }
    }
}
.count-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }

    &__plus-minus {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 17px;
    }

    &__plus,
    &__minus {
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #c8a2c8;
        border: 2px solid #c8a2c8;
        border-radius: 50%;
        cursor: pointer;
        z-index: 20;
    }
    &__minus {
        margin-top: 19px;
        display: none;
    }
}
.val {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    color: #ffffff;
    margin-left: 40px;
    white-space: nowrap;
    z-index: 10;
}
//========================================================================================
.count-basket {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__order {
        width: 230px;
        min-height: 46px;
        border: 1px solid #c8a2c8;
        filter: drop-shadow(0px 1px 15px rgba(204, 255, 0, 0.63));
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__order p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #ffffff;
    }
    &__back {
        margin-top: 30px;
    }
    &__cost {
    }
    @media (max-width: 768px) {
        & {
            flex-direction: column-reverse;
        }
        &__order {
            margin: 20px 0;
        }
    }
}
.basket-price {
    display: flex;
    justify-content: center;
    align-items: center;
    &__sum p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #ffffff;
    }

    &__value p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
        margin-left: 40px;
    }
}
//========================================================================================
//order
.right-basket {
    &__title p {
        display: block;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #ffffff;
        margin-top: 46px;
        position: relative;
    }
    &__title p:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #c8a2c8;
        box-shadow: 1px 1px 15px rgba(204, 255, 0, 0.63);
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__order {
        margin-top: 40px;
    }
    &__info {
        display: block;
        width: 70%;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        margin: 30px 0;
    }
    @media (max-width: 1200px) {
        &__info {
            width: 90%;
        }
    }
}
.your-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-top: 60px;
}
.your-info input {
    background: #000000;
    border: 0;
    outline: none;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    margin-top: 30px;
    font-size: 20px;
}
